#todaytodobox{
    margin: 8%;
}
#todaytodo{
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    
}
#todo-list{
    color:aliceblue;
    font-size: 25px;
    margin-right: 50px;
}
.todo{
    display: flex;
    flex-direction: row-reverse;
}